h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}

.container {
  width: 1203px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 84px;
}

.header-list {
  display: flex;
  /* gap: 40px; */
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #fff;
  padding-top: 36px;
  padding-bottom: 36px;
  display: block;
}

.header-btn {
  min-width: 128px;
  height: 44px;
  background-color: #ffeb38;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #0e0e0e;
  border-radius: 5px;
  border: none;
  margin-left: auto;
}

.hero {
  padding: 190px 0;
}
.hero-subtitle {
letter-spacing: 0.03em;
text-align: center;
color: #fff;
margin-bottom: 14px;
}
.hero-subtitle-part{
  font-weight: 700;
color: #ffeb38;
}

.hero-title {
 font-size: 70px;
line-height: 1.285;
letter-spacing: 0.03em;
color: #fff;
max-width: 790px;
margin-left: auto;
margin-right: auto;
margin-bottom: 22px;
}
.hero-text {
letter-spacing: 0.03em;
text-align: center;
color: #fff;
max-width: 790px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
.hero-list {
  display: flex;
  justify-content: center;
  gap: 19px;
}
.hero-item {
}
.hero-btn {
  min-width: 181px;
height: 48px;
border-radius: 5px;
background-color: #fff;
letter-spacing: 0.03em;
text-align: center;
color: #202020;
border: none;
}

.hero-btn:hover, .hero-btn:focus {
  background-color: #ffeb38;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.49);
  z-index: 999;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.modal {
  width: 650px;
min-height: 854px;
background-color:#333335;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 87px 67px 64px 50px ;
}
.modal-close-btn {
  width: 40px;
height: 40px;
border-radius: 50%;
position: absolute;
top: 41px;
right: 30px;
background-color: #ffeb38;
color: #000;
}
.modal-subtitle {
  font-weight: 700;
font-size: 16px;
line-height: 1.55;
letter-spacing: 0.03em;
color: #fff;
display: flex;
align-items: center;
gap: 12px;
}
.modal-subtitle::before{
content: "";
width: 143px;
height: 2px;
background-color: #ffeb38;
display: block;

}

.modal-title {
}
.modal-text {
}
.modal-form {
}
.modal-label {
display: block;
  margin-bottom: 23px;
}
.modal-input {

  border-radius: 5px;
width: 100%;
height: 60px;
background-color: transparent;
border: 1px solid #cacaca;
border-radius: 5px;
padding-left: 21px;

font-weight: 400;
font-size: 16px;
line-height: 1.55;
letter-spacing: 0.03em;
color: #f1f1f1;
}

.modal-input::placeholder{
  font-weight: 400;
font-size: 16px;
line-height: 1.55;
letter-spacing: 0.03em;
color: #f1f1f1;
font-family: inherit;
}

.modal-text-label {
}
.modal-text-area {
}
.modal-btn {
}